name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make build
      run: make /home/runner/work/_temp/1e80770d-5a7a-4af1-b86d-563964e4b1e0.sh: line 1: ./configure: No such file or directory
      0
   
